In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine, func
import psycopg2
import numpy as np

In [2]:
#format is //user:password@sql instance public IP address/database name
db_string = f"postgres://postgres:alcohol-ca@35.194.17.20/alcohol_cloud"

In [3]:
#create engine
engine = create_engine(db_string)

In [4]:
#import one of the following tables 
# alcohol_ca (very big messy merged table)
# alcohol_ca_clean (coming soon after data cleanup)
# alcohol_qrt_mile (original raw dataset)
# personal_income
# typology_ca
# unemployment
df = pd.read_sql_table('alcohol_ca',engine)
df.tail()

,indicator_id,ind_definition,reportyear,race_eth_code,race_eth_name,geotype,geotypevalue,geoname,county_name,county_fips_id,...,manufacturing_2015,government_2015,recreation_2015,nonspecialized_2015,low_education_2015,low_employment_cnty,pop_loss_2010,retirement_dest_2015,persistent_poverty_2013,persistent_child_poverty_2013
90310,774,Percent of Population within 1/4 Mile of Alcoh...,2014,7,Multiple,PL,85012,Wheatland city,Yuba,6115,...,0,1,0,0,1,1,0,0,0,1
90311,774,Percent of Population within 1/4 Mile of Alcoh...,2014,5,NHOPI,PL,85012,Wheatland city,Yuba,6115,...,0,1,0,0,1,1,0,0,0,1
90312,774,Percent of Population within 1/4 Mile of Alcoh...,2014,8,Other,PL,85012,Wheatland city,Yuba,6115,...,0,1,0,0,1,1,0,0,0,1
90313,774,Percent of Population within 1/4 Mile of Alcoh...,2014,9,Total,PL,85012,Wheatland city,Yuba,6115,...,0,1,0,0,1,1,0,0,0,1
90314,774,Percent of Population within 1/4 Mile of Alcoh...,2014,6,White,PL,85012,Wheatland city,Yuba,6115,...,0,1,0,0,1,1,0,0,0,1

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90315 entries, 0 to 90314
Data columns (total 65 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   indicator_id                   90315 non-null  object
 1   ind_definition                 90315 non-null  object
 2   reportyear                     90315 non-null  object
 3   race_eth_code                  90315 non-null  object
 4   race_eth_name                  90315 non-null  object
 5   geotype                        90315 non-null  object
 6   geotypevalue                   90315 non-null  object
 7   geoname                        90315 non-null  object
 8   county_name                    90315 non-null  object
 9   county_fips_id                 90315 non-null  object
 10  region_name                    17802 non-null  object
 11  region_code                    17802 non-null  object
 12  license_type                   90315 non-null  object
 13  num_people_qrt                 85374 non-null  float64
 14  tot_people                     90261 non-null  float64
 15  pct_of_total                   83085 non-null  float64
 16  county_fips_id_pi              90315 non-null  object
 17  county_name_pi                 90315 non-null  object
 18  region_code_pi                 90315 non-null  object
 19  table_ca                       90315 non-null  object
 20  linecode                       90315 non-null  object
 21  per_capita_income              90315 non-null  int64
 22  total_income                   90315 non-null  int64
 23  population                     90315 non-null  int64
 24  county_fips_id_ue              90315 non-null  object
 25  county_name_ue                 90315 non-null  object
 26  year_2011                      90315 non-null  object
 27  unemp_2011                     90315 non-null  float64
 28  year_2012                      90315 non-null  object
 29  unemp_2012                     90315 non-null  float64
 30  year_2013                      90315 non-null  object
 31  unemp_2013                     90315 non-null  float64
 32  year_2014                      90315 non-null  object
 33  unemp_2014                     90315 non-null  float64
 34  year_2015                      90315 non-null  object
 35  unemp_2015                     90315 non-null  float64
 36  year_2016                      90315 non-null  object
 37  unemp_2016                     90315 non-null  float64
 38  year_2017                      90315 non-null  object
 39  unemp_2017                     90315 non-null  float64
 40  year_2018                      90315 non-null  object
 41  unemp_2018                     90315 non-null  float64
 42  year_2019                      90315 non-null  object
 43  unemp_2019                     90315 non-null  float64
 44  median_house_tag               90315 non-null  object
 45  median_house_price             90315 non-null  float64
 46  median_house_pct               90315 non-null  float64
 47  county_fips_id_ty              90315 non-null  object
 48  state_abbre                    90315 non-null  object
 49  county_name_ty                 90315 non-null  object
 50  metro_status                   90315 non-null  int64
 51  economic_types                 90315 non-null  object
 52  economic_type_label            90315 non-null  object
 53  farming_2015                   90315 non-null  int64
 54  mining_2015                    90315 non-null  int64
 55  manufacturing_2015             90315 non-null  int64
 56  government_2015                90315 non-null  int64
 57  recreation_2015                90315 non-null  int64
 58  nonspecialized_2015            90315 non-null  int64
 59  low_education_2015             90315 non-null  int64
 60  low_employment_cnty            90315 non-null  int64
 61  pop_loss_2010                  90315 non-null  int64
 62  retirement_dest_2015           90315 non-null  int64
 63  persistent_poverty_2013        90315 non-null  int64
 64  persistent_child_poverty_2013  90315 non-null  int64
dtypes: float64(14), int64(16), object(35)
memory usage: 44.8+ MB

In [7]:
df_trim = df[['county_name','race_eth_name', 'geoname','geotype','region_name','num_people_qrt','tot_people','pct_of_total','per_capita_income','total_income',
              'population','unemp_2014','median_house_price', 'median_house_pct',
              'metro_status','economic_type_label','low_education_2015','low_employment_cnty', 'pop_loss_2010', 'retirement_dest_2015',
              'persistent_poverty_2013','persistent_child_poverty_2013']]
df_trim.head()

,county_name,race_eth_name,geoname,geotype,region_name,num_people_qrt,tot_people,pct_of_total,per_capita_income,total_income,...,median_house_price,median_house_pct,metro_status,economic_type_label,low_education_2015,low_employment_cnty,pop_loss_2010,retirement_dest_2015,persistent_poverty_2013,persistent_child_poverty_2013
0,Alameda,Other,4421,CT,None,0.0,0.0,NaN,56261,90631392,...,107589.0,1.338,1,Nonspecialized,0,0,0,0,0,0
1,Alameda,AIAN,Alameda,CD,Bay Area,159.0,247.0,64.37,56261,90631392,...,107589.0,1.338,1,Nonspecialized,0,0,0,0,0,0
2,Alameda,AfricanAm,Alameda,CD,Bay Area,2674.0,4516.0,59.21,56261,90631392,...,107589.0,1.338,1,Nonspecialized,0,0,0,0,0,0
3,Alameda,Asian,Alameda,CD,Bay Area,14243.0,22822.0,62.41,56261,90631392,...,107589.0,1.338,1,Nonspecialized,0,0,0,0,0,0
4,Alameda,Latino,Alameda,CD,Bay Area,5689.0,8092.0,70.30,56261,90631392,...,107589.0,1.338,1,Nonspecialized,0,0,0,0,0,0

In [8]:
df_no_total = df_trim[df_trim.race_eth_name != 'Total']

df_no_total['race_eth_updt'] = df_no_total['race_eth_name']
df_no_total.loc[(df_no_total['race_eth_name'] == 'AIAN') | (df_no_total['race_eth_name'] == 'NHOPI'), 'race_eth_updt'] = 'Other'

df_no_total.head(20)

/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,county_name,race_eth_name,geoname,geotype,region_name,num_people_qrt,tot_people,pct_of_total,per_capita_income,total_income,...,median_house_pct,metro_status,economic_type_label,low_education_2015,low_employment_cnty,pop_loss_2010,retirement_dest_2015,persistent_poverty_2013,persistent_child_poverty_2013,race_eth_updt
0,Alameda,Other,4421,CT,None,0.0,0.0,NaN,56261,90631392,...,1.338,1,Nonspecialized,0,0,0,0,0,0,Other
1,Alameda,AIAN,Alameda,CD,Bay Area,159.0,247.0,64.37,56261,90631392,...,1.338,1,Nonspecialized,0,0,0,0,0,0,Other
2,Alameda,AfricanAm,Alameda,CD,Bay Area,2674.0,4516.0,59.21,56261,90631392,...,1.338,1,Nonspecialized,0,0,0,0,0,0,AfricanAm
3,Alameda,Asian,Alameda,CD,Bay Area,14243.0,22822.0,62.41,56261,90631392,...,1.338,1,Nonspecialized,0,0,0,0,0,0,Asian
4,Alameda,Latino,Alameda,CD,Bay Area,5689.0,8092.0,70.30,56261,90631392,...,1.338,1,Nonspecialized,0,0,0,0,0,0,Latino
5,Alameda,Multiple,Alameda,CD,Bay Area,2490.0,4047.0,61.53,56261,90631392,...,1.338,1,Nonspecialized,0,0,0,0,0,0,Multiple
6,Alameda,NHOPI,Alameda,CD,Bay Area,219.0,342.0,64.04,56261,90631392,...,1.338,1,Nonspecialized,0,0,0,0,0,0,Other
7,Alameda,Other,Alameda,CD,Bay Area,164.0,278.0,58.99,56261,90631392,...,1.338,1,Nonspecialized,0,0,0,0,0,0,Other
9,Alameda,White,Alameda,CD,Bay Area,22474.0,33468.0,67.15,56261,90631392,...,1.338,1,Nonspecialized,0,0,0,0,0,0,White
10,Alameda,AIAN,Berkeley,CD,Bay Area,253.0,272.0,93.01,56261,90631392,...,1.338,1,Nonspecialized,0,0,0,0,0,0,Other
11,Alameda,AfricanAm,Berkeley,CD,Bay Area,10788.0,11517.0,93.67,56261,90631392,...,1.338,1,Nonspecialized,0,0,0,0,0,0,AfricanAm
12,Alameda,Asian,Berkeley,CD,Bay Area,24101.0,27253.0,88.43,56261,90631392,...,1.338,1,Nonspecialized,0,0,0,0,0,0,Asian
13,Alameda,Latino,Berkeley,CD,Bay Area,12529.0,14100.0,88.86,56261,90631392,...,1.338,1,Nonspecialized,0,0,0,0,0,0,Latino
14,Alameda,Multiple,Berkeley,CD,Bay Area,5559.0,6492.0,85.63,56261,90631392,...,1.338,1,Nonspecialized,0,0,0,0,0,0,Multiple
15,Alameda,NHOPI,Berkeley,CD,Bay Area,179.0,202.0,88.61,56261,90631392,...,1.338,1,Nonspecialized,0,0,0,0,0,0,Other
16,Alameda,Other,Berkeley,CD,Bay Area,514.0,608.0,84.54,56261,90631392,...,1.338,1,Nonspecialized,0,0,0,0,0,0,Other
18,Alameda,White,Berkeley,CD,Bay Area,56480.0,70675.0,79.92,56261,90631392,...,1.338,1,Nonspecialized,0,0,0,0,0,0,White
19,Alameda,AIAN,Fremont,CD,Bay Area,295.0,669.0,44.10,56261,90631392,...,1.338,1,Nonspecialized,0,0,0,0,0,0,Other
20,Alameda,AfricanAm,Fremont,CD,Bay Area,6205.0,12780.0,48.55,56261,90631392,...,1.338,1,Nonspecialized,0,0,0,0,0,0,AfricanAm
21,Alameda,Asian,Fremont,CD,Bay Area,60002.0,153913.0,38.98,56261,90631392,...,1.338,1,Nonspecialized,0,0,0,0,0,0,Asian

In [9]:
df_no_total['region_name'] = df['region_name'].replace(np.nan, 'no_region')
df_no_total['num_people_qrt'] = df['num_people_qrt'].replace(np.nan, 0)
df_no_total['tot_people'] = df['tot_people'].replace(np.nan, 0)
df_no_total['pct_of_total'] = df['pct_of_total'].replace(np.nan, 0)
df_no_total.isna().sum()

/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

county_name                      0
race_eth_name                    0
geoname                          0
geotype                          0
region_name                      0
num_people_qrt                   0
tot_people                       0
pct_of_total                     0
per_capita_income                0
total_income                     0
population                       0
unemp_2014                       0
median_house_price               0
median_house_pct                 0
metro_status                     0
economic_type_label              0
low_education_2015               0
low_employment_cnty              0
pop_loss_2010                    0
retirement_dest_2015             0
persistent_poverty_2013          0
persistent_child_poverty_2013    0
race_eth_updt                    0
dtype: int64

In [10]:
alcohol_ca_clean =df_no_total.drop(['race_eth_name'], axis=1)
alcohol_ca_clean.reset_index()

,index,county_name,geoname,geotype,region_name,num_people_qrt,tot_people,pct_of_total,per_capita_income,total_income,...,median_house_pct,metro_status,economic_type_label,low_education_2015,low_employment_cnty,pop_loss_2010,retirement_dest_2015,persistent_poverty_2013,persistent_child_poverty_2013,race_eth_updt
0,0,Alameda,4421,CT,no_region,0.0,0.0,0.00,56261,90631392,...,1.338,1,Nonspecialized,0,0,0,0,0,0,Other
1,1,Alameda,Alameda,CD,Bay Area,159.0,247.0,64.37,56261,90631392,...,1.338,1,Nonspecialized,0,0,0,0,0,0,Other
2,2,Alameda,Alameda,CD,Bay Area,2674.0,4516.0,59.21,56261,90631392,...,1.338,1,Nonspecialized,0,0,0,0,0,0,AfricanAm
3,3,Alameda,Alameda,CD,Bay Area,14243.0,22822.0,62.41,56261,90631392,...,1.338,1,Nonspecialized,0,0,0,0,0,0,Asian
4,4,Alameda,Alameda,CD,Bay Area,5689.0,8092.0,70.30,56261,90631392,...,1.338,1,Nonspecialized,0,0,0,0,0,0,Latino
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80275,90309,Yuba,Wheatland city,PL,Sacramento Area,315.0,620.0,50.81,34989,2587968,...,0.704,1,Federal/State Government,1,1,0,0,0,1,Latino
80276,90310,Yuba,Wheatland city,PL,Sacramento Area,71.0,153.0,46.41,34989,2587968,...,0.704,1,Federal/State Government,1,1,0,0,0,1,Multiple
80277,90311,Yuba,Wheatland city,PL,Sacramento Area,0.0,4.0,0.00,34989,2587968,...,0.704,1,Federal/State Government,1,1,0,0,0,1,Other
80278,90312,Yuba,Wheatland city,PL,Sacramento Area,0.0,7.0,0.00,34989,2587968,...,0.704,1,Federal/State Government,1,1,0,0,0,1,Other
80279,90314,Yuba,Wheatland city,PL,Sacramento Area,1118.0,2399.0,46.60,34989,2587968,...,0.704,1,Federal/State Government,1,1,0,0,0,1,White

In [11]:
alcohol_ca_clean.dtypes

county_name                       object
geoname                           object
geotype                           object
region_name                       object
num_people_qrt                   float64
tot_people                       float64
pct_of_total                     float64
per_capita_income                  int64
total_income                       int64
population                         int64
unemp_2014                       float64
median_house_price               float64
median_house_pct                 float64
metro_status                       int64
economic_type_label               object
low_education_2015                 int64
low_employment_cnty                int64
pop_loss_2010                      int64
retirement_dest_2015               int64
persistent_poverty_2013            int64
persistent_child_poverty_2013      int64
race_eth_updt                     object
dtype: object

In [12]:
alcohol_ca_clean['num_people_qrt'] = alcohol_ca_clean['num_people_qrt'].astype('int64')
alcohol_ca_clean['tot_people'] = alcohol_ca_clean['tot_people'].astype('int64')
alcohol_ca_clean['median_house_price'] = alcohol_ca_clean['median_house_price'].astype('int64')
alcohol_ca_clean.dtypes

county_name                       object
geoname                           object
geotype                           object
region_name                       object
num_people_qrt                     int64
tot_people                         int64
pct_of_total                     float64
per_capita_income                  int64
total_income                       int64
population                         int64
unemp_2014                       float64
median_house_price                 int64
median_house_pct                 float64
metro_status                       int64
economic_type_label               object
low_education_2015                 int64
low_employment_cnty                int64
pop_loss_2010                      int64
retirement_dest_2015               int64
persistent_poverty_2013            int64
persistent_child_poverty_2013      int64
race_eth_updt                     object
dtype: object

In [13]:
alcohol_ca_clean.head()

,county_name,geoname,geotype,region_name,num_people_qrt,tot_people,pct_of_total,per_capita_income,total_income,population,...,median_house_pct,metro_status,economic_type_label,low_education_2015,low_employment_cnty,pop_loss_2010,retirement_dest_2015,persistent_poverty_2013,persistent_child_poverty_2013,race_eth_updt
0,Alameda,4421,CT,no_region,0,0,0.00,56261,90631392,1610921,...,1.338,1,Nonspecialized,0,0,0,0,0,0,Other
1,Alameda,Alameda,CD,Bay Area,159,247,64.37,56261,90631392,1610921,...,1.338,1,Nonspecialized,0,0,0,0,0,0,Other
2,Alameda,Alameda,CD,Bay Area,2674,4516,59.21,56261,90631392,1610921,...,1.338,1,Nonspecialized,0,0,0,0,0,0,AfricanAm
3,Alameda,Alameda,CD,Bay Area,14243,22822,62.41,56261,90631392,1610921,...,1.338,1,Nonspecialized,0,0,0,0,0,0,Asian
4,Alameda,Alameda,CD,Bay Area,5689,8092,70.30,56261,90631392,1610921,...,1.338,1,Nonspecialized,0,0,0,0,0,0,Latino

In [14]:
alcohol_ca_clean.to_csv('alcohol_ca_clean_w_geonames.csv')