In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [4]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine, func
import psycopg2
import numpy as np

In [5]:
#format is //user:password@sql instance public IP address/database name
db_string = f"postgres://postgres:alcohol-ca@35.194.17.20/alcohol_cloud"

In [6]:
#create engine
engine = create_engine(db_string)

In [7]:
#import one of the following tables 
# alcohol_ca (very big messy merged table)
# alcohol_ca_clean (coming soon after data cleanup)
# alcohol_qrt_mile (original raw dataset)
# personal_income
# typology_ca
# unemployment
df = pd.read_sql_table('alcohol_ca_clean',engine)
df.tail()

,index,county_name,geotype,region_name,num_people_qrt,tot_people,pct_of_total,per_capita_income,total_income,population,...,median_house_pct,metro_status,economic_type_label,low_education_2015,low_employment_cnty,pop_loss_2010,retirement_dest_2015,persistent_poverty_2013,persistent_child_poverty_2013,race_eth_updt
80275,90309,Yuba,PL,Sacramento Area,315,620,50.81,34989,2587968,73966,...,0.704,1,Federal/State Government,1,1,0,0,0,1,Latino
80276,90310,Yuba,PL,Sacramento Area,71,153,46.41,34989,2587968,73966,...,0.704,1,Federal/State Government,1,1,0,0,0,1,Multiple
80277,90311,Yuba,PL,Sacramento Area,0,4,0.00,34989,2587968,73966,...,0.704,1,Federal/State Government,1,1,0,0,0,1,Other
80278,90312,Yuba,PL,Sacramento Area,0,7,0.00,34989,2587968,73966,...,0.704,1,Federal/State Government,1,1,0,0,0,1,Other
80279,90314,Yuba,PL,Sacramento Area,1118,2399,46.60,34989,2587968,73966,...,0.704,1,Federal/State Government,1,1,0,0,0,1,White

In [112]:
#Create a list of condition to turn pct_of_total to categorical variables
pct_total_bin = [
    (df['pct_of_total'] <= 50.00),
    (df['pct_of_total'] > 50.00)
    ]
values = ['low', 'high']

df['probability'] = np.select(pct_total_bin, values)

In [113]:
df

,index,county_name,geotype,region_name,num_people_qrt,tot_people,pct_of_total,per_capita_income,total_income,population,...,metro_status,economic_type_label,low_education_2015,low_employment_cnty,pop_loss_2010,retirement_dest_2015,persistent_poverty_2013,persistent_child_poverty_2013,race_eth_updt,probability
0,0,Alameda,CT,no_region,0,0,0.00,56261,90631392,1610921,...,1,Nonspecialized,0,0,0,0,0,0,Other,low
1,1,Alameda,CD,Bay Area,159,247,64.37,56261,90631392,1610921,...,1,Nonspecialized,0,0,0,0,0,0,Other,high
2,2,Alameda,CD,Bay Area,2674,4516,59.21,56261,90631392,1610921,...,1,Nonspecialized,0,0,0,0,0,0,AfricanAm,high
3,3,Alameda,CD,Bay Area,14243,22822,62.41,56261,90631392,1610921,...,1,Nonspecialized,0,0,0,0,0,0,Asian,high
4,4,Alameda,CD,Bay Area,5689,8092,70.30,56261,90631392,1610921,...,1,Nonspecialized,0,0,0,0,0,0,Latino,high
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80275,90309,Yuba,PL,Sacramento Area,315,620,50.81,34989,2587968,73966,...,1,Federal/State Government,1,1,0,0,0,1,Latino,high
80276,90310,Yuba,PL,Sacramento Area,71,153,46.41,34989,2587968,73966,...,1,Federal/State Government,1,1,0,0,0,1,Multiple,low
80277,90311,Yuba,PL,Sacramento Area,0,4,0.00,34989,2587968,73966,...,1,Federal/State Government,1,1,0,0,0,1,Other,low
80278,90312,Yuba,PL,Sacramento Area,0,7,0.00,34989,2587968,73966,...,1,Federal/State Government,1,1,0,0,0,1,Other,low
80279,90314,Yuba,PL,Sacramento Area,1118,2399,46.60,34989,2587968,73966,...,1,Federal/State Government,1,1,0,0,0,1,White,low

In [114]:
df_bin = df.drop(columns=["pct_of_total"])

In [115]:
df_bin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80280 entries, 0 to 80279
Data columns (total 22 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   index                          80280 non-null  int64
 1   county_name                    80280 non-null  object
 2   geotype                        80280 non-null  object
 3   region_name                    80280 non-null  object
 4   num_people_qrt                 80280 non-null  int64
 5   tot_people                     80280 non-null  int64
 6   per_capita_income              80280 non-null  int64
 7   total_income                   80280 non-null  int64
 8   population                     80280 non-null  int64
 9   unemp_2014                     80280 non-null  float64
 10  median_house_price             80280 non-null  int64
 11  median_house_pct               80280 non-null  float64
 12  metro_status                   80280 non-null  int64
 13  economic_type_label            80280 non-null  object
 14  low_education_2015             80280 non-null  int64
 15  low_employment_cnty            80280 non-null  int64
 16  pop_loss_2010                  80280 non-null  int64
 17  retirement_dest_2015           80280 non-null  int64
 18  persistent_poverty_2013        80280 non-null  int64
 19  persistent_child_poverty_2013  80280 non-null  int64
 20  race_eth_updt                  80280 non-null  object
 21  probability                    80280 non-null  object
dtypes: float64(2), int64(14), object(6)
memory usage: 13.5+ MB

In [116]:
#Split the Data into Training and Testing
# Create our features
y = pd.DataFrame(df_bin['probability'])
X = pd.get_dummies(df_bin[['geotype','per_capita_income','total_income','population','unemp_2014','median_house_price','median_house_pct','metro_status','economic_type_label','low_education_2015','low_employment_cnty','pop_loss_2010','retirement_dest_2015','persistent_poverty_2013','persistent_child_poverty_2013','race_eth_updt']])

In [117]:
X.describe()

,per_capita_income,total_income,population,unemp_2014,median_house_price,median_house_pct,metro_status,low_education_2015,low_employment_cnty,pop_loss_2010,...,economic_type_label_Federal/State Government,economic_type_label_Maufacturing,economic_type_label_Nonspecialized,economic_type_label_Recreation,race_eth_updt_AfricanAm,race_eth_updt_Asian,race_eth_updt_Latino,race_eth_updt_Multiple,race_eth_updt_Other,race_eth_updt_White
count,80280.000000,8.028000e+04,8.028000e+04,80280.000000,80280.000000,80280.000000,80280.000000,80280.000000,80280.000000,80280.0,...,80280.000000,80280.000000,80280.000000,80280.000000,80280.000000,80280.000000,80280.000000,80280.000000,80280.000000,80280.000000
mean,49272.899651,1.769148e+08,3.563949e+06,7.820907,80194.207275,0.997129,0.933732,0.509018,0.107025,0.0,...,0.067663,0.040159,0.724165,0.164823,0.125000,0.125000,0.125000,0.125000,0.375000,0.125000
std,13674.896251,1.931024e+08,3.898659e+06,2.359915,20610.794647,0.256346,0.248752,0.499922,0.309147,0.0,...,0.251169,0.196334,0.446937,0.371023,0.330721,0.330721,0.330721,0.330721,0.484126,0.330721
min,30437.000000,6.965000e+04,1.116000e+03,4.200000,43881.000000,0.546000,0.000000,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,37783.000000,2.571675e+07,5.319970e+05,6.200000,69550.000000,0.865000,1.000000,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,49400.000000,7.823939e+07,1.894605e+06,8.200000,72721.000000,0.904000,1.000000,1.000000,0.000000,0.0,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,51459.000000,1.733056e+08,3.263431e+06,8.300000,90230.000000,1.122000,1.000000,1.000000,0.000000,0.0,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
max,98626.000000,4.997679e+08,1.011670e+07,24.000000,135234.000000,1.682000,1.000000,1.000000,1.000000,0.0,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [118]:
# Check the balance of our target values
y['probability'].value_counts()

low     46021
high    34259
Name: probability, dtype: int64

In [119]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,
   y,  random_state=1, stratify=y)
y_train.shape

(60210, 1)

In [120]:
#Balanced Random Forest Classifier
from imblearn.ensemble import BalancedRandomForestClassifier
rf_model = BalancedRandomForestClassifier(n_estimators=100, random_state=1) 
rf_model = rf_model.fit(X_train, y_train)

In [121]:
# Calculated the balanced accuracy score
y_pred = rf_model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.6705149896755465

In [122]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[5799, 2766],
       [3866, 7639]])

In [123]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

       high       0.60      0.68      0.66      0.64      0.67      0.45      8565
        low       0.73      0.66      0.68      0.70      0.67      0.45     11505

avg / total       0.68      0.67      0.67      0.67      0.67      0.45     20070

In [124]:
# List the features sorted in descending order by feature importance
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.16108646830885198, 'total_income'),
 (0.12326679320055081, 'per_capita_income'),
 (0.11399331766390594, 'median_house_pct'),
 (0.10111078268990326, 'median_house_price'),
 (0.1001981352232955, 'population'),
 (0.0820469839759173, 'unemp_2014'),
 (0.056782276398101544, 'geotype_CT'),
 (0.02956162773817097, 'economic_type_label_Recreation'),
 (0.02733208118782723, 'retirement_dest_2015'),
 (0.02684255584258525, 'economic_type_label_Nonspecialized'),
 (0.024766142968659297, 'geotype_PL'),
 (0.02025786264142273, 'geotype_CD'),
 (0.01734979532775714, 'race_eth_updt_Latino'),
 (0.01692778265961619, 'race_eth_updt_Other'),
 (0.015980548328972662, 'low_education_2015'),
 (0.014456995040914404, 'low_employment_cnty'),
 (0.01280532948186685, 'race_eth_updt_AfricanAm'),
 (0.012140682826423246, 'race_eth_updt_White'),
 (0.011294103064131865, 'race_eth_updt_Asian'),
 (0.010444079879394356, 'metro_status'),
 (0.010154970969809496, 'race_eth_updt_Multiple'),
 (0.005134899635242297, 'geotype_CO'),
 (0.00184868486743061, 'economic_type_label_Maufacturing'),
 (0.0016864186943898723, 'economic_type_label_Farming'),
 (0.0015838141041826313, 'economic_type_label_Federal/State Government'),
 (0.0009468672806765958, 'persistent_child_poverty_2013'),
 (0.0, 'pop_loss_2010'),
 (0.0, 'persistent_poverty_2013')]

In [134]:
### Refining model
# Create our features
y2 = pd.DataFrame(df_bin['probability'])

X2 = pd.get_dummies(df_bin[['geotype','total_income','unemp_2014','median_house_pct','metro_status','economic_type_label','low_education_2015','low_employment_cnty','persistent_child_poverty_2013','race_eth_updt']])

In [135]:
from sklearn.model_selection import train_test_split
X2_train, X2_test, y2_train, y2_test = train_test_split(X2,
   y2,  random_state=1, stratify=y)
y2_train.shape

(60210, 1)

In [136]:
#Balanced Random Forest Classifier
from imblearn.ensemble import BalancedRandomForestClassifier
rf_model2 = BalancedRandomForestClassifier(n_estimators=100, random_state=1) 
rf_model2 = rf_model2.fit(X2_train, y2_train)

In [137]:
# List the features sorted in descending order by feature importance
sorted(zip(rf_model2.feature_importances_, X2.columns), reverse=True)

[(0.29513138571943476, 'total_income'),
 (0.18320952466141982, 'unemp_2014'),
 (0.16559820730086297, 'median_house_pct'),
 (0.07677170631621233, 'geotype_CT'),
 (0.046219266378294585, 'economic_type_label_Recreation'),
 (0.03800309028898494, 'economic_type_label_Nonspecialized'),
 (0.027750994463520695, 'low_employment_cnty'),
 (0.02622902318859775, 'geotype_PL'),
 (0.020933578216229234, 'low_education_2015'),
 (0.018831318288746447, 'geotype_CD'),
 (0.01504269974716587, 'metro_status'),
 (0.014991528939416491, 'race_eth_updt_Other'),
 (0.014650992158813906, 'race_eth_updt_Latino'),
 (0.01102659369033796, 'race_eth_updt_AfricanAm'),
 (0.010519640546599724, 'race_eth_updt_White'),
 (0.009460992284807781, 'race_eth_updt_Asian'),
 (0.008435851410517892, 'race_eth_updt_Multiple'),
 (0.0045758010309416355, 'geotype_CO'),
 (0.004443295450868668, 'economic_type_label_Federal/State Government'),
 (0.003851242642350581, 'persistent_child_poverty_2013'),
 (0.002235445368095026, 'economic_type_label_Farming'),
 (0.0020878219077810236, 'economic_type_label_Maufacturing')]